<div class="masthead jumbotron">
    <div class="container">
        <p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://lumpy.eu/lumpylogo600.png" alt="logo" width="600" height="600"></p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-center"><a href="/login" style="width: 100%;" class="btn btn-primary btn-lg">Login</a></p>
    </div>
    <div class="col-md-12">
        <p class="text-center"><a href="/signup" style="width: 100%;" class="btn btn-primary btn-lg">Register</a></p>
    </div>
</div>
